<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투두리스트</title>

    <!-- Bootstrap: CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <!-- Bootstrap: JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <!-- flatpickr CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <!-- google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />

    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/weather.css" />
    <link rel="stylesheet" href="../assets/css/calender.css" />

</head>

<body>
    <div class="wrap">
        <header>
            <div class="contents-area">
                <a href="/" class="logo">
                    <span class="material-icons">
                        home
                    </span>
                    <span class="show-at-lg">
                        로고
                    </span>
                </a>
                <div class="right">
                    <a href="/logout">
                        <span class="material-icons">
                            logout
                        </span>
                        <span class="show-at-lg">
                            로그아웃
                        </span>
                    </a>
                    <a href="/profile">
                        <span class="material-icons">
                            account_circle
                        </span>
                        <span>이름</span>님의 프로필
                    </a>
                </div>
            </div>
        </header>
        <section class="main-page">
            <div class="weather-box contents-area">
                <div id="weather" class="weather"></div>
            </div>
            <div class="real-time contents-area">
                <div class="textContent blink">
                    0000.00.00
                    <div class="show-at-sm"></div>
                    pm 00:00
                </div>
            </div>
            <div class="list-form border-bottom">
                <div class="list-row">
                    <h1 class="main-title">To Do List</h1>
                </div>
                <div class="list-row contents-area">
                    <a class="role-btn" href="/all">
                        전체보기
                    </a>
                    <a class="role-btn" href="/">
                        날짜로 보기
                    </a>
                </div>
            </div>
            <form class="list-form contents-area">
                <div class="list-row">
                    <input id="date" type="text" name="date" placeholder="날짜 입력" class="form-control">
                    <input type="text" name="text" placeholder="새로운 리스트를 입력하세요." class="input_text form-control" autocomplete="off">
                    <input type="file" name="img" id="file" class="hidden">
                    <label for="file">이미지 업로드</label>
                </div>
                <div class="list-row">
                    <button class="btn-submit role-btn">
                        입력하기
                    </button>
                </div>
            </form>
            <form class="list-form contents-area">
                <div class="list-row search-box">
                    <input type="text" class="search form-control" name="search" placeholder="검색하기" autocomplete="off">
                    <button class="search-btn role-btn">🔍</button>
                </div>
            </form>
            <div class="list-container contents-area">
                <ul>
                    <!-- 리스트에 이미지가 있으면 li에 .pic -->
                    <li class="pic">
                        <span class="text">
                            텍스트
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <span class="material-icons">
                                perm_media
                            </span>
                            <a href="/delete" class="delete role-btn">X</a>
                            
                        </div>
                    </li>
                    <!-- 이미지 있으면 li.pic 다음으로 .li-image-box 생성-->
                    <li class="li-image-box">
                        <!-- 이미지 개수만큼 img -->
                        <img src="" alt="'리스트' 이미지">
                        <img src="" alt="'리스트' 이미지">
                        <img src="" alt="'리스트' 이미지">
                    </li>

                    <li>
                        <span class="text">
                            텍스트
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <a href="/delete" class="delete role-btn">X</a>
                        </div>
                    </li>
                    <li>
                        <span class="text">
                            텍스트
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <a href="/delete" class="delete role-btn">X</a>
                        </div>
                    </li>
                    <li>
                        <span class="text">
                            텍스트
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <a href="/delete" class="delete role-btn">X</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <script src="../assets/js/time.js"></script>
    <script src="../assets/js/animate.js"></script>
    <script src="../assets/js/calender.js"></script>
    <script src="../assets/js/weather.js"></script>

</body>

</html>