<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>

    <script src="../assets/js/login.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <div class="contents-area">
          <a href="#" class="logo"> 로고 </a>
          <div>
            <a href="../views/login.html"> 로그아웃 </a>
            <a href="../views/profile.html"> <span>이름</span>님의 프로필 </a>
          </div>
        </div>
      </header>
      <form action="#" method="post">
        <h1>Login</h1>
        <p>
          <label for="InputEmail1">Email address</label>
          <input
            type="email"
            id="InputEmail1"
            aria-describedby="emailHelp"
            name="userid"
          />
        </p>
        <p>
          <label for="Inputpw">password</label>
          <input type="password" id="Inputpw" name="userpw" />
        </p>
        <p>
          <input type="checkbox" id="remembercheck" />
          <label class="form-check-label" for="remembercheck"
            >remember me</label
          >
        </p>
        <div>
          <input type="button" onclick="check(this.form)" value="로그인" />
        </div>

        <div>
          <a href="">Forgot Password?</a>
          <a href="">회원가입</a>
        </div>
      </form>
    </div>
  </body>
</html>
