<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
  </head>

  <body>
    <form action="#" method="post">
      <h1>profile</h1>
      <p>
        </label><img src="http://via.placeholder.com/80" alt="profile_image" />
        <div>
            <button>수정</button>
            <input type="submit" value="저장" />
        </div></p>
      <p><label for="name">이름 : </label><input type="text" id="name" /></p>
      <p>
        <label for="email">이메일 : </label><input type="email" id="email" />
      </p>
      <p>
        <label for="pw">비밀번호 : </label><input type="password" id="pw" />
      </p>
      <p>
        <label for="pw">비밀번호 확인 : </label
        ><input type="password" id="pw" />
      </p>
      <p>
        <label for="datepicker">생년월일 : </label
        ><input type="text" id="datepicker" />
      </p>
      <p>
        <span>성별 : </span> <span>남자</span>
      </p>
      <p>
        <input type="submit" value="수정완료" />
      </p>
    </form>
  </body>
</html>
