<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투두리스트</title>

    <!-- Bootstrap: CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <!-- Bootstrap: JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <!-- flatpickr CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <!-- google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/weather.css" />
    <link rel="stylesheet" href="/css/calender.css" />
</head>

<body>
    <div class="wrap">
        <header>
            <div class="contents-area">
                <a href="/" class="logo">
                    <span class="material-icons">
                        home
                    </span>
                    <span class="show-at-lg">
                        로고
                    </span>
                </a>
                <div class="right">
                    <a href="/logout">
                        <span class="material-icons">
                            logout
                        </span>
                        <span class="show-at-lg">
                            로그아웃
                        </span>
                    </a>
                    <a href="/profile">
                        <span class="material-icons">
                            account_circle
                        </span>
                        <div class="show-xs">
                            <span>이름</span>님의 프로필
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <section class="main-page">
            <div class="weather-box contents-area">
                <div id="weather" class="weather"></div>
            </div>
            <div class="real-time contents-area">
                <div class="textContent blink">
                    0000.00.00
                    <div class="show-at-sm"></div>
                    pm 00:00
                </div>
            </div>
            <div class="form-box">
                <div class="list-form border-bottom">
                    <div class="list-row">
                        <h1 class="main-title">To Do List</h1>
                    </div>
                    <div class="list-row contents-area">
                        <a class="role-btn" href="/all">
                            전체보기
                        </a>
                        <a class="role-btn" href="/">
                            날짜로 보기
                        </a>
                    </div>
                </div>
                <form class="list-form contents-area">
                    <div class="list-row">
                        <input id="date" type="text" name="create_at" placeholder="날짜 입력" class="form-control">
                        <input type="text" name="title" placeholder="새로운 리스트를 입력하세요." class="input_text form-control"
                            autocomplete="off">
                        <input 
                            type="file" 
                            name="img_path" 
                            id="file" 
                            class="fileInput hidden" onchange="fileChange()"
                            multiple>
                        <label for="file">이미지 업로드</label>
                    </div>
                    <div class="list-row">
                        <button type="submit" class="role-btn btn-submit">
                            입력하기
                        </button>
                    </div>
                    <span class="file-name info-text">
                        이미지 업로드는 3장까지 가능합니다.
                    </span>
                </form>
                <form class="list-form contents-area">
                    <div class="list-row search-box">
                        <input type="text" class="search form-control" name="search" placeholder="검색하기"
                            autocomplete="off">
                        <button type="submit" class="search-btn role-btn">
                            <span class="material-icons">
                                search
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="list-container contents-area">
                <ul>
                    <li>
                        <span class="text">
                            텍스트
                        </span>
                        <div class="right">
                            <span class="time">00-00-00</span>
                            <a href="/delete" class="delete role-btn">X</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <script src="/js/time.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/calender.js"></script>
    <script src="/js/weather.js"></script>
    <script src="/js/formCheck.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>