.join {
    padding-top: 8%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
.join .list-row {
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
}
.join .left {
    font-size: 0.8em;
    font-weight: 600;
    margin: 5px;
    padding: 5px 0;
    text-align: left;
}
.email-wrong {
    margin-left: 5px;
    margin-top: 10px;
    color: orange;
}
.join .form-control,
.join #date {
    width: 100%;
    max-width: 250px;
}
.join .role-btn {
    min-height: 30px;
    padding: 0 15px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

