/* 메인페이지 */
.main-page {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.real-time {
    padding: 5px 0;
    background: #2d2828;
    color: var(--accent-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 20px;
}
.blink {
    animation: blink 3s infinite;
}
.main-title {
    font-size: 1.6em;
    padding: 8px 0;
}
.list-form {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.list-form:last-of-type {
    margin-bottom: 40px;
}
.list-row {
    width: 100%;
    line-height: 2;
    display: flex;
}
.list-row > * {
    flex: 1 1 auto;
    border: 0px solid #aaa;
    background-color: #fff;
    box-sizing: border-box;
}
.list-row input {
    outline: none;
    border: 2px solid #aaa;

}
.list-row h1 {
    font-size: 2em;
    padding: 20px 0 25px 0;
    margin: 0 0 5px 0;
}
.search {
    height: 34px;
}
.search-box {
    position: relative;
}
.search-box .search-btn {
    background: none;
    border: none;

    height: 34px;
    padding: 0 10px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 9;
}
.list-container li:first-child {
    border-top: var(--border-bottomDotted);
}
.list-container li {
    padding: 8px 10px;
    line-height: 2;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: var(--border-bottomDotted);
}
.list-container li > *:first-child {
    flex: 1 1 auto;
}
.list-container li > div:last-child {
    flex: 0 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 380px) {
    .list-container li > div:last-child {
        flex: 1 1 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
}
.list-container .role-btn {
    padding: 0 5px;
    margin-left: 5px;
    background: var(--accent-color);
    color: #fff;
}
li.pic {
    background-color: #fffcf4;
    cursor: pointer;
}
.list-container .li-image-box.off {
    height: 0px;
    padding: 0;
}
.list-container .li-image-box {
    justify-content: flex-start;
    height: auto;
    overflow: hidden;
}
.list-container .li-image-box {
    display: none;
}
.list-container .li-image-box.active {
    display: flex;
}
.li-image-box * {
    display: block;
    flex: 1 1 auto;
    height: 120px;
    border-radius: 10px;
    background-color: #ddd;
}
@media (max-width: 500px) {
    .show-at-sm {
        display: block;
    }
    li,
    .list-row {
        flex-wrap: wrap;
    }
    input {
        min-height: 34px;
    }
    .input_text {
        width: 100%;
    }
    .show-at-lg {
        display: none;
    }
}
@keyframes blink {
    0% {opacity: 1;}
    20% {opacity: 0.4;}
    40% {opacity: 1;}
}