/* common */
:root {
    --main-bgColor: #fffefe;
    --main-color: #f9ecc9;
    --second-color: #80abf6;
    --accent-color: #5274c4;
    --box-shadow: 2px 2px 5px rgba(33, 41, 79, 0.245), -2px -2px 5px rgba(135, 111, 111, 0.124);
    --border-bottomDotted: 1px dotted #aaa;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    color: #333;
    margin: 0;
    background-color: var(--main-bgColor);
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
    box-sizing: border-box;
    position: relative;
}
li, ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.contents-area {
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}
*::placeholder {
    text-align: center;
}
.show-at-sm {
    display: none;
}
.hidden {
    display: none;
}
.material-icons {
    padding: 0 3px;
}
.border-bottom {
    border-bottom: var(--border-bottomDotted);
}
.title {
    margin-bottom: 30px;
}
section {
    padding-top: 8%;
    padding-left: 1em;
    padding-right: 1em;
}
/* 리스트 스타일 */
.list-form {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.list-form:last-of-type {
    margin-bottom: 40px;
}
.list-row {
    width: 100%;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-row > * {
    background-color: #fff;
    box-sizing: border-box;
}
.list-row input {
    outline: none;
    border: 2px solid #aaa;
}
.list-row h1 {
    font-size: 2em;
    padding: 20px 0 25px 0;
    margin: 0 0 5px 0;
}
.list-row .left {
    flex: 0 0 100px;
}
/* clickable, input */
.wrap label,
.role-btn,
input {
    display: block;
    margin: 5px;
    padding: 5px 0;
    border-radius: 16px;

    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.6;
    transition: all 0.2s;
    cursor: pointer;
}
.role-btn:hover {
    box-shadow: var(--box-shadow);
}
.btn-submit,
.wrap form input[type=submit]{
    background: var(--accent-color);
    color: #fff !important;
}
/* 부트스트랩 수정 */
.form-control {
    width: auto;
    font-size: 0.8em;
    margin: 5px;
    border-radius: 20px;
    background: #eee !important;
    border: none !important;
}
/* 반응형 */
@media (max-width: 500px) {
    .show-at-sm {
        display: block;
    }
    li,
    .list-row {
        flex-wrap: wrap;
    }
    input {
        min-height: 34px;
    }
    .input_text {
        width: 100%;
    }
    .show-at-lg {
        display: none;
    }
}
/* 애니메이션 */
@keyframes blink {
    0% {opacity: 1;}
    20% {opacity: 0.4;}
    40% {opacity: 1;}
}