/* reset */
body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover,
.wrap label:hover,
.role-btn:hover {
    color: rgb(82, 116, 196);
}
li, ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.contents-area {
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}
*::placeholder {
    text-align: center;
}
/*  */
header {
    height: 80px;
    padding: 0 2em;
    background-color: #ddd;
}
header .contents-area {
    display: flex;
    justify-content: space-between;
}
header a {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    padding: 0 8px;
}
.logo {
    font-weight: 900;
    font-size: 1.5em;
}
/* λ©”μΈνμ΄μ§€ */
.main-page {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.real-time {
    padding: 20px 0;
    background: #222;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 2px 2px 3px #aaa;
}
.main-title {
    font-size: 1.6em;
    padding: 8px 0;
}
.list-form {
    margin-bottom: 20px;
}
.list-form:last-of-type {
    margin-bottom: 40px;
}
.list-row {
    width: 100%;
    line-height: 2;
    display: flex;
}
.list-row > * {
    flex: 1 1 auto;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 2px 2px 3px #aaa;
    box-sizing: border-box;
}
.list-row h1 {
    margin: 0;
}
.wrap label,
.role-btn {
    min-height: 34px;
    display: block;
    cursor: pointer;
    background-color: rgb(208, 238, 255);
}
.hidden {
    display: none;
}
.search {
    height: 34px;
}
.search-box {
    position: relative;
}
.search-box .search-btn {
    background: none;
    border: none;

    height: 34px;
    padding: 0 10px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 9;
}
.list-container li:first-child {
    border-top: 1px dotted #aaa;
}
.list-container li {
    padding: 8px 10px;
    line-height: 2;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px dotted #aaa;
}
.list-container li > div:last-child {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.list-container .role-btn {
    padding: 0 5px;
    margin-left: 5px;
    background: #000;
    color: #fff;
}
li.pic {
    background-color: rgb(208, 238, 255);
    cursor: pointer;
}
li.pic > div:last-child::after {
    content: 'π“';
    padding: 0 5px;
    background: pink;
    color: #fff;
    display: block;
    position: absolute;
    right: -30px;
}
.list-container .li-image-box.off {
    height: 0px;
    padding: 0;
}
.list-container .li-image-box {
    justify-content: flex-start;
    height: auto;
    overflow: hidden;
}
.list-container .li-image-box {
    display: none;
}
.list-container .li-image-box.active {
    display: flex;
}
.li-image-box * {
    display: block;
    flex: 1 1 auto;
    height: 120px;
    border-radius: 10px;
    background-color: #ddd;
}
@media (max-width: 500px) {
    header,
    header a {
        height: 45px;
        line-height: 45px;
    }
    header {
        padding: 0 10px;
    }
    li,
    .list-row {
        flex-wrap: wrap;
    }
    input {
        min-height: 34px;
    }
    .input_text {
        width: 100%;
    }
}