#weather {
    width: 150px;
    height: 150px;
    position: absolute;
    right: -160px;
    background: rgb(219, 255, 226);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #aaa;
}
#weather img {
    width: 60px;
}

@media (max-width: 800px) {
    #weather {
        position: relative;
        width: 100vw;
        height: auto;
        border-radius: 0;
        flex-direction: row;
        right: -50%;
        transform: translateX(-50%);
    }
    #weather strong {
        order: 1;
    }
    #weather img {
        width: 35px;
    }
}