<header>
    <div class="contents-area">
        <a href="/" class="logo">
            로고
        </a>
        <div>
            <a href="/logout">
                로그아웃
            </a>
            <a href="/profile">
                나의 프로필
            </a>
        </div>
    </div>
</header>