<div id="weather">
    hello
</div>
<script src="js/weather.js"></script>

<!-- http://api.openweathermap.org/data/2.5/forecast?id=524901&appid={API key} -->
<!-- 팀 a2e8922539a2e4f37866cc7d173c8be2 -->
<!-- 기존 4545f5686ecfafc8ad1cbe5066c42615 -->